<meta charset="UTF-8">
<style type="text/css">
._customer_card__wrap {
    font-family: 'Arial', sans-serif;
    max-width: 887px;
    min-height: 270px;
    color: #000000;
    padding-left: 7px;
    display: flex;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
}
._customer_card__left {
    width: 670px;
    background: #E5EAEE;
    padding: 17px 40px 0 30px;
    box-sizing: border-box;
}
._customer_card__ttl {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
._customer_card__list {
    display: flex;
    flex-wrap: wrap;
}
._customer_card__item {
    display: flex;
    margin-bottom: 40px;
    width: 45%;
}
._customer_card__item-mr {
    margin-right: 30px;
}
._customer_card__item img {
    width: 42px!important;
    height: 42px!important;
}
._customer_card__txt {
    display: grid;
    align-content: center;
    margin-left: 15px;
    font-weight: normal;
}
._customer_card__right {
    width: 214px;
    background: #F4FAFF;
    border-right: 3px solid #E5EAEE;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 30px;
}
._customer_card__service {
    color: #8D0000;
    font-weight: bold;
}
._customer_card__detailed {
    margin-top: 55px;
}
._customer_card__phone a {
    color: #000000 !important;
    text-decoration: none;
}
._customer_card__phone a:hover {
    text-decoration: underline;
}
._customer_cat__button {
    background: #6E767D;
    border-radius: 3px;
    width: 158px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    margin: 14px auto;
    cursor: pointer;
}
._customer_cat__button:hover {
    opacity: 0.8;
}
@media (max-width: 1060px) {
    ._customer_card__left {
        width: 100%;
        display: block;
    }
    ._customer_card__wrap {
        display: block;
    }
    ._customer_card__right {
        width: 100%;
        border: none;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    ._customer_card__detailed {
        margin-top: 15px;
    }
}
@media (max-width: 768px) {
    ._customer_card__list {
        display: block;
        padding-bottom: 10px;
    }
    ._customer_card__item {
        width: 100%;
        margin-bottom: 20px;
    }
}
</style>
<div class="_customer_card__wrap">
    <div class="_customer_card__left">
        <div class="_customer_card__ttl">
            Металлопрокат по ценам<br> заводов-производителей!
        </div>
        <div class="_customer_card__list">
            <div class="_customer_card__item _customer_card__item-mr">
                <img src="img/block_card/img-1.png">
                <div class="_customer_card__txt"><span>Продукция от ведущих производителей России и Европы</span></div>
            </div>

            <div class="_customer_card__item">
                <img src="img/block_card/img-2.png">
                <div class="_customer_card__txt"><span>Бесплатная доставка по Пермскому краю — при заказе от 100 000 рублей!</span></div>
            </div>

            <div class="_customer_card__item _customer_card__item-mr">
                <img src="img/block_card/img-3.png">
                <div class="_customer_card__txt"><span>Соответствие государственным стандартам</span></div>
            </div>

            <div class="_customer_card__item">
                <img src="img/block_card/img-4.png">
                <div class="_customer_card__txt"><span>Бесплатная доставка до терминалов ТК</span></div>
            </div>
        </div>
    </div>
    <div class="_customer_card__right">
        <div class="_customer_card__service">
            Предлагаем доступные условия сотрудничества!
        </div>
        <div class="_customer_card__detailed">
            Узнайте подробнее
        </div>
        <div class="_customer_card__phone">
            <a href="tel:+73422046298" onclick="yaCounter46650732.reachGoal('megasite_comblock_tel'); return true;">+7 (342) 204-62-98</a>
        </div>
        <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer_cat__button"
             data-company-id="99269047" data-company-name="Техальянс" data-company-name-rest="ООО"
             data-company-url="http://www.cvetmet59.ru" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:99269047}" data-statistics="1" data-type="callback"
             onclick="yaCounter46650732.reachGoal('megasite_comblock_order'); return true;">
            Заказать звонок
        </div>
    </div>
</div>